<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Fake news detection</title>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <a href="/prediction"><button>Prediction</button></a>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Prediction</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/0ee3a01dbb.js"></script>
</head>
<body>

<section id="header">
    <a href="#"><img src="/static/p.png" class="logo" alt="logo"></a>

    <div>
        <ul id="navbar">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>

    </div>
</section>

<section id="hero">
     <h4>Detect Fake News</h4>
     <h2>Fake News Detection</h2>
     <h1>Machine Learning project</h1>
     <a href="/prediction"><button style="background-color:aquamarine; border-radius: 25px">Prediction</button></a>
</section>

<section id="feature" class="section-p1">
<div class="fe-box">
    <img src="/static/ok.jpg" alt="">
    <h6>News Detection</h6>

</div>

<div class="fe-box">
    <img src="/static/interface.png" alt="">
    <h6>User Interface</h6>

</div>


<div class="fe-box">
    <img src="/static/logo.jpg" alt="">
    <h6>Input News</h6>

</div>


<div class="fe-box">
    <img src="/static/s.jpg" alt="">
    <h6>Support us</h6>

</div>
</section>


<section id="newsletter" class="section-p1 section-m1">
    <div class="container">
        <h4>Sign Up for NewsLetter</h4>
        <p>Get E-mail updates about out Fake News Detection and <span> other ML projects</span>.</p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your Email address">
        <button class="normal">Sign Up</button>
    </div>



</section>

<footer class="section-p1">
    <div class="col">
    <a href="#"><img src="/static/fakelogo.png" class="logo" alt="logo"></a>
        <div class="Machine Learning Project">
            <h4>Follow Us</h4>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>About</h4>
        <a href="#">About Us</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms and Condition</a>
        <a href="#">Contact Us</a>
    </div>


    <div class="col">
        <h4>For More Information</h4>
        <a href="#">Sign In</a>
        <a href="#">GitHub</a>
        <a href="#">Linkedin</a>
        <a href="#">Instagram</a>
    </div>



    <div class="copyright">
        <p>@ 2023, Machine Learning Project - Fake News Prediction </p>
    </div>
</footer>


<script src="script.js"></script>
</body>
</html>






